{# templates/lucky_number.html.twig #}

{% extends "baselucky.html.twig" %}

{% block title %}Lucky{% endblock %}

{% block body %}
    <h1>Lucky</h1>
    <img class="aboutpic" src="{{ asset('img/lasvegas.jpg') }}" alt="las vegas picture">
    <p class="gamblingnumber">This is your unique gambling number: {{ number }}</p>
{% endblock %}