{# templates/report_controller.html.twig #}

{% extends "base.html.twig" %}

{% block title %}Report{% endblock %}

{% block body %}
    <h1>Report</h1>
    <p>Redovisningstexter för kursmoment i MVC-kursen.</p>
    <a href="#kmom01">Kmom01</a> | <a href="#kmom02">Kmom02</a> | <a href="#kmom03">Kmom03</a> | <a href="#kmom04">Kmom04</a> | <a href="#kmom05">Kmom05</a> | <a href="#kmom06">Kmom06</a>
    <h2><a name="kmom01">Kmom01</a></h2>
        <p>redovisningstext...</p>
    <h2><a name="kmom02">Kmom02</a></h2>
        <p>redovisningstext...</p>
    <h2><a name="kmom03">Kmom03</a></h2>
        <p>redovisningstext...</p>
    <h2><a name="kmom04">Kmom04</a></h2>
        <p>redovisningstext...</p>
    <h2><a name="kmom05">Kmom05</a></h2>
        <p>redovisningstext...</p>
    <h2><a name="kmom06">Kmom06</a></h2>
        <p>redovisningstext...</p>
{% endblock %}