{# templates/report_controller.html.twig #}

{% extends "base.html.twig" %}

{% block title %}Report{% endblock %}

{% block body %}
    <h1>Report</h1>
    <p>Redovisningstexter för kursmoment i MVC-kursen.</p>
    <a href="#kmom01">Kmom01</a> | <a href="#kmom02">Kmom02</a> | <a href="#kmom03">Kmom03</a> | <a href="#kmom04">Kmom04</a> | <a href="#kmom05">Kmom05</a> | <a href="#kmom06">Kmom06</a>
    <h2><a name="kmom01">Kmom01</a></h2>
        <p>Jag har inga tidigare erfarenheter av objektorienteradprogrammering, 
        innan denna kursen är det bara något jag har hört talas om och kände till att det fanns.<br><br>

        Klasser och objekt i PHP:<br>
        Ett objekt består av medlemsvariabler (properties) och metoder (methods) som kan liknas med en funktion. 
        Objektet instansieras i en klass som också är en mall för objektet.<br>
        Public, protected och private används för att ange tillgänglighets-nivån för medlemsvariablerna och metoderna i objektet.
        Fördelen med klasser och objekt, som jag har förstått det hittills, är att koden blir återanvändbar och inte behöver skrivas flera gåger.<br><br>

        När det gäller kodbas, koden och strukturen så tänker jag tillbaka till webtec-kursen när vi använde ramverket Pico, 
        då tyckte jag det var rörigt och tog lång tid att komma in i koden och strukturen. Nu när vi använder ramverket Symfony så tycker 
        jag att det gick mycket snabbare och lättare att komma in i strukturen och koden kan jag också känna igen mig i. <br>
        Så jag tycker det var en stor fördel av att jobba i ett ramverk tidigare, det gjorde att jag kände igen mig och det kändes kul att ha nytta av.<br><br>
        
        Jag fastnade för Security på PHP the right way, intressant läsning och jag känner spontant att denna sidan har mycket matnyttigt, 
        något man får återkomma till och välja ut en del i taget att läsa.
        </p>
    <h2><a name="kmom02">Kmom02</a></h2>
        <p>redovisningstext...</p>
    <h2><a name="kmom03">Kmom03</a></h2>
        <p>redovisningstext...</p>
    <h2><a name="kmom04">Kmom04</a></h2>
        <p>redovisningstext...</p>
    <h2><a name="kmom05">Kmom05</a></h2>
        <p>redovisningstext...</p>
    <h2><a name="kmom06">Kmom06</a></h2>
        <p>redovisningstext...</p>
{% endblock %}